.center-form-full{
  display:flex;
  justify-content: center;
  margin-top: 3vh;
  width:100%;
  height:100%;
}

.pad{
  padding: 0 3vh 3vh;
}

tr{
  padding:5px;
}

.input-width{
  width: 16vw;
}

.big-textarea {
  height: 16vh;
  width: 24vw;
  resize: horizontal;
}
